.card-container {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  .card {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0 0 0.21rem 0.1rem rgba($color: #000000, $alpha: 0.5);
    border-radius: 0.7rem;
    padding-bottom: 0.5rem;
    .image {
      width: 250px;
      max-width: 250px;
      overflow: hidden;

      border-radius: 0.7rem 0.7rem 0 0;
      img {
        border-radius: 0.7rem 0.7rem 0 0;
        width: 100%;
        max-width: 250px;
        height: 300px;
      }
    }
    h2 {
      font-size: 1rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .stats {
      display: none;
    }

    &:active .stats {
      display: flex;
      list-style-type: none;
      flex-direction: column;
      gap: 3rem;
      margin-top: 1rem;
    }
    &:active img {
      display: none;
    }
    &:active {
      flex-direction: column;
      justify-content: space-between;
    }
    &:hover img {
      transition: 0.3s ease-in-out;
      transform: scale(1.2);
      border-radius: 0.7rem;
    }
  }
}
